body {
    font-family: "Open Sans", Helvetica, sans-serif;
}
.metricsTable {
    width: 50%;
    line-height: inherit;
    text-align: left;
}
.metricsTable td {
    padding: 5px;
    vertical-align: top;
}
.metricsTable thead tr {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}
.metricsTable tbody tr {
    border-bottom: 1px solid #eee;
}